/* This is where any css rules will live.
NOTE: comments are formatted differently for HTML/CSS */

/* This will be applied to every page, so don't edit for things not specific to the overall layout. */
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #676767;
    font-size: 18px;
    letter-spacing: 0;
}

.content {
    line-height: 30px;
    padding-bottom: 2em;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin: auto;
    width: 50%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #212529;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #676767;
}

body {

    background-color: #fff;
    margin: 0;
}

/* All CSS rules containing 'nav' affect navbar at top of page. */
nav {
    position: sticky;
    top: 0;
}

nav ul {
    background-color: #FFFFFF;
    /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    height: max-content;

}

nav ul li {
    float: left;
}

.links {
    float: right;
}

nav ul li a {
    display: block;
    color: #212529;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0835D7;
    color: #FFFFFF;
}

/* Gives current page tab in navbar a defining colour. */
.currentPage {
    background-color: #1B4BF7;
    color: #FFFFFF;

}

.heroText {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heroText h1 {
    font-size: 5vh;
}

.teamImages {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    float: left;

}

.team table td {
    padding-left: 0;
    padding-right: 0;
}

strong {
    color: #212529;
}

section {
    display: flex;
    flex-direction: column;
}

.bottomNavPrev {
    margin-bottom: 16px;
    margin-left: 16px;
    float: left;
}

.bottomNavNext {
    margin-bottom: 16px;
    margin-right: 16px;
    float: right;
}

.split {
    display: flex;
}

.split div {
    flex: 50%;
    line-height: 30px;
    padding: 10px;
    vertical-align: top;
}

.split div ul {
    font-size: medium;
}

.chevron {
  display: flex;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #212529;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  .container {
    position: absolute;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    /* margin-top: 350px; */
    margin-top: 34vh;
  }
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #212529;
    text-transform: uppercase;
    white-space: nowrap;
    animation: pulse 2s linear alternate infinite;
  }

  

/* CSS */
.fancyButton {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border - box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline - flex;
  font-family: system - ui, -apple - system, system - ui, "Helvetica Neue", Helvetica, Arial, sans - serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.fancyButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.fancyButton:hover {
  transform: translateY(-2px);
}

.fancyButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
 
.personalityPic {
  float:right;
}
  